//- variables generales del proyecto
-celContact="+57 310 861 46 08"
-empresa='Tapxi'
-pages=['Inicio', 'Características', 'Descarga', 'Contáctenos', 'Regístrate']
-sites=['#inicio', '#características', '#descarga', '#Contacto', '#registro']
//- -services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='sguridad y agilidad'
-siteTitle= empresa
-description='Ahora tienes una nueva forma de solicitar taxi desde el celular'
-sizeImgServices=300
